*.svelte linguist-language=TypeScript
branding/**/*.html linguist-documentation
course/migrations/* linguist-generated
apps/web/static/images/*.jpg filter=lfs diff=lfs merge=lfs -text
apps/web/static/images/accordion1.jpg filter=lfs diff=lfs merge=lfs -text
