# IDE
**/.DS_Store
**/.vscode
**/.idea/codeStyles/codeStyleConfig.xml
**/.idea/jsLinters/eslint.xml
**/.idea/LibreLingo.iml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/codeStyles/Project.xml
**/.idea/inspectionProfiles/Project_Default.xml
**/.idea/vcs.xml
**/.idea/workspace.xml
**/.vim


# Dependencies
/node_modules/
**/node_modules/
/src/node_modules/@sapper/
.venv/
.env
/apps/*/poetry.lock
/tmp/


# Development
*.pyc
/apps/librelingo_json_export/profile.png
profile.dat


# Static files
/apps/web/__sapper__/
/static/files
staticfiles/
apps/web/static/files/noto-*


.nyc_output/
jest-coverage/
**/coverage/


# Build
apps/librelingo_tools/dist
**/dist/


# Documentation
apps/docs/build/
report.*.*.json
*.tsbuildinfo
__sapper__


# Stats
git_stats/


# Data
/course_editor/db.sqlite3
/db.sqlite3
/src/audios_to_fetch.csv
/apps/librelingo_json_export/profile.png
localData/


# Courses
/apps/web/src/courses/*-*
/courses/*-*



# PDM
.pdm.toml
.pdm-python
.pdm-build/

neovide_backtraces.log


# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


# Custom
Dockerfile_adt
Dockerfile_web_adt
docker-compose-adt.yml
cert_custom.pem


.nx/cache
.nx/workspace-data
